header {
    background-color: #1F2937;
    color: white;
    padding:10px;
}

.header-bar,
.header-content {
    display:flex;
    justify-content:space-around;
    align-items: center;   
}

.header-bar {
    gap:350px;
}

.logo {
    font-weight: 700;
    font-size: 48px;
    
}

ul {
    list-style: none;
    display:flex;
    gap: 20px;
}


.modal {
    display:flex;
    flex-direction: column;
    gap:10px;
    align-items: left;
    
    
}
.modal-title {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAf8;
    width: 500px;
    
}
.modal-text {
    font-size:18px;
    color:#E5E7EB;
}

button {
    padding: 8px 16px;
    border-radius:8px;
    width: fit-content;
    background-color:#3882f6;
    color:#F9FAf8
}


img{
    height:auto;
    width: 400px;
}


.h1-main {
    display:flex;
    justify-content: center;
}

